body, html{
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
}

.header{
	display: flex;
	height: 150px;
	width: 100%;
	background-color: #E2D9D9;
	margin: auto;
	flex-direction: row;
	justify-content: space-between;
}

.image-block{
	padding-top: 40px;
	padding-left: 68px;
}

.info{
	display: flex;
	flex-direction: row;
	padding-top: 8px;
	font-size: 18px;
}

.info-block{
	padding-top: 40px;
	padding-right: 120px;
}

.side-block{
	display: flex;
	flex-direction: row;
}

.icon{
	height: 24px;
	width: 24px;
	padding-right: 8px;
}

.signin-button{
	font-size: 32px;
	padding-top: 8px;
	padding-right: 32px;
	height: 0;
}

.signin-button:hover{
	text-decoration: underline;
	cursor: pointer;
}

.menu{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style-type: none;
	height: 50px;
	margin: auto;
	padding-left: 0;
	align-items: center;
}

.menu-item{
	display: flex;
	flex: 1;
	font-size: 24px;
	justify-content: center;
	height: 50px;
	align-items: center;
	border-color: #828282;
	background-color: #E2D9D9;
	border-width: 1px;
	border-style: solid;
}

.menu-item:hover{
	text-decoration: underline;
	cursor: pointer;
	background-color: #C2AFAF;
}

.submenu{
	margin: 0;
	background-color: lightblue;
	width: 100px;
	border-radius: 25px;
	list-style-type: none;
	visibility: hidden;
}

.submenu-item{
	padding: 8px;
}

.menu li:hover .submenu{
	visibility: visible;
}